@import "tailwindcss";
/* HERO TEXT ENTRY */
.hero-text {
  animation: slideLeft 1.4s ease forwards;
}

.mobile-box {
  animation: fadeUp 1.2s ease forwards;
}

.line1 {
  animation: fadeText 1s ease forwards;
}

.line2 {
  animation: fadeText 1.4s ease forwards;
}

.line3 {
  animation: fadeText 1.8s ease forwards;
}

/* LOGO SLIDER */
.scroll-wrapper {
  width: 100%;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-items: center;
}

.scroll-content {
  display: flex;
  width: max-content;
  animation: scroll 18s linear infinite;
}

.scroll-content img {
  margin: 0 10px;
  object-fit: contain;
  transition: transform 0.4s ease;
}

.scroll-content img:hover {
  transform: scale(1.1);
}

/* BACKGROUND CUBES */
.cube {
  position: absolute;
  width: 35px;
  height: 35px;
  border: 2px solid rgba(255,255,255,0.15);
  animation: floatCube 12s linear infinite;
  transform: rotate(45deg);
  backdrop-filter: blur(2px);
}

.cube1 {
  top: 10%;
  left: 10%;
  animation-delay: 0s;
}

.cube2 {
  top: 70%;
  left: 15%;
  animation-delay: 2s;
}

.cube3 {
  top: 20%;
  left: 80%;
  animation-delay: 4s;
}

.cube4 {
  top: 80%;
  left: 75%;
  animation-delay: 6s;
}

.cube5 {
  top: 40%;
  left: 50%;
  animation-delay: 8s;
}

.cube6 {
  top: 60%;
  left: 35%;
  animation-delay: 10s;
}

.cube7 {
  top: 15%;
  left: 55%;
  animation-delay: 5s;
}

.cube8 {
  top: 75%;
  left: 60%;
  animation-delay: 7s;
}

/* ANIMATIONS */
@keyframes slideLeft {
  from {
    opacity: 0;
    transform: translateX(-120px);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeUp {
  from {
    opacity: 0;
    transform: translateY(70px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeText {
  from {
    opacity: 0;
    transform: translateY(25px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes floatCube {
  0% {
    transform: rotate(45deg) translateY(0px);
    opacity: 0;
  }

  20% {
    opacity: 1;
  }

  50% {
    transform: rotate(180deg) translateY(-30px);
  }

  100% {
    transform: rotate(360deg) translateY(-60px);
    opacity: 0;
  }
}